{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <script>
    $(function() {
      var datacenterNames = {
        "AS": "Asia: China, Hong Kong",
        "CA-TR": "North America: Canada, Toronto",
        "EU": "Europe: The Netherlands, Amsterdam",
        "EU-FR": "Europe: Germany, Frankfurt",
        "EU-LO": "Europe: United Kingdom, London",
        "IL-RH": "Middle East: Israel, Rosh Haayin",
        "IL": "Middle East: Israel, Rosh Haayin (2)",
        "IL-HA": "Middle East: Israel, Haifa",
        "IL-PT": "Middle East: Israel, Petach Tikva",
        "IL-TA": "Middle East: Israel, Tel Aviv",
        "US-NY2": "North America: United States, New York, New York",
        "US-SC": "North America: United States, California, Santa Clara",
        "US-TX": "North America: United States, Texas, Dallas"
      }
      var cpuTypeNames = {
        A: "Availability",
        B: "General Purpose",
        D: "Dedicated",
        T: "Burstable"
      };
      window.datacenters = {};
      window.images = {};
      window.imageCategories = {};
      window.cpuTypes = {};
      window.diskSizesGB = [];
      var getImageDescription = function(image) {
        var description = image.description.trim().split("\n")[0];
        if (!description) description = image.name;
        if (description.startsWith("service_")) description = description.substring(8);
        else if (description.startsWith("apps_")) description = description.substring(5);
        return description;
      }
      var initData = function(d) {
        $.each(d.os.sort(function(a, b) {
          var da = getImageDescription(a).toLowerCase();
          var db = getImageDescription(b).toLowerCase();
          return da < db ? -1 : (da === db ? 0 : 1)
        }), function(i, image) {
          window.images[image.id] = {
            description: getImageDescription(image),
            imageSizeGB: image.imageSizeGB,
            minRamMB: image.minRamMB,
            name: image.name
          };
          if (window.imageCategories[image.category] === undefined) window.imageCategories[image.category] = [];
          window.imageCategories[image.category].push(image.id);
          $.each(image.datacenters, function(i, dc) {
            if (window.datacenters[dc] === undefined) window.datacenters[dc] = {
              name: datacenterNames[dc] === undefined ? dc : datacenterNames[dc],
              images: []
            };
            window.datacenters[dc].images.push(image.id);
          });
        });
        $.each(d.cpu[0].options, function(i, cpu) {
          var cpuType = cpu.value.slice(-1);
          var cpuCores = cpu.value.slice(0, -1);
          if (window.cpuTypes[cpuType] === undefined) window.cpuTypes[cpuType] = {
            name: cpuTypeNames[cpuType] === undefined ? cpuType : cpuTypeNames[cpuType],
            cores: []
          };
          window.cpuTypes[cpuType].cores.push(cpuCores);
        })
        $.each(d.diskGB[0].options, function(i, disk) {
          window.diskSizesGB.push(disk.value);
        })
        $.each(d, function(key, value) {
          if (key.slice(0, 7) === "netPck.") {
            var dc = key.slice(7);
            $.each(value[0].options, function(i, netpack) {
              if (window.datacenters[dc] !== undefined) {
                if (window.datacenters[dc].netpacks === undefined) window.datacenters[dc].netpacks = {};
                window.datacenters[dc].netpacks[netpack.value] = netpack.description;
              }
            })
          }
          if (key.slice(0, 6) === "ramMB.") {
            var cpuType = key.slice(6);
            $.each(value[0].options, function(i, ram) {
              if (window.cpuTypes[cpuType] !== undefined) {
                if (window.cpuTypes[cpuType].ramMB === undefined) window.cpuTypes[cpuType].ramMB = [];
                window.cpuTypes[cpuType].ramMB.push(ram.value);
              }
            })
          }
        })
      };
      var updateDatacenterUi = function() {
        updateImagesUi();
        updateNetPacksUi();
      }
      var updateImagesUi = function() {
        var $image = $("#image");
        var lastSelectedImageId = $image.val();
        $image.empty()
        var imageCategory = $("#imagecategory").val();
        var datacenterId = $("#datacenter").val();
        if (!imageCategory) {
          $image.append($("<option>").attr("value", "").text("Choose an image category to see available images"))
        } else if (!datacenterId) {
          $image.append($("<option>").attr("value", "").text("Choose a datacenter to see available images"))
        } else {
          $image.append($("<option>").attr("value", "").text("Choose an image"))
          $.each(imageCategories[imageCategory], function(i, imageId) {
            var description = images[imageId].description.trim().split("\n")[0];
            if (!description) description = images[imageId].name;
            var option = $("<option>").attr("value", imageId).text(description);
            if (datacenters[datacenterId].images.indexOf(imageId) === -1) {
              option.attr("disabled", "disabled")
            } else if (lastSelectedImageId === imageId) {
              option.attr("selected", "selected");
            }
            $("#image").append(option)
          })
        }
      }
      var updateCpuCoresUi = function() {
        var $cpucores = $("#cpucores");
        var lastSelectedCpuCores = $cpucores.val();
        $cpucores.empty()
        var selectedCpuTypeId = $("#cputype").val();
        if (!selectedCpuTypeId) {
          $cpucores.append($("<option>").attr("value", "").text("Choose a CPU type to see available CPU cores"))
        } else {
          $cpucores.append($("<option>").attr("value", "").text("Choose CPU cores"))
          $.each(cpuTypes[selectedCpuTypeId].cores, function(i, cpuCores) {
            var option = $("<option>").attr("value", cpuCores).text("" + cpuCores + " " + cpuTypes[selectedCpuTypeId].name + " CPU cores");
            if (lastSelectedCpuCores === cpuCores) {
              option.attr("selected", "selected");
            }
            $cpucores.append(option)
          })
        }
      }
      var updateRamUi = function() {
        var $ram = $("#ram");
        var lastSelectedRam = $ram.val();
        $ram.empty()
        var selectedCpuTypeId = $("#cputype").val();
        var selectedImageId = $("#image").val();
        var minRamMB = selectedImageId ? images[selectedImageId].minRamMB : 0;
        if (!selectedCpuTypeId) {
          $ram.append($("<option>").attr("value", "").text("Choose a CPU type to see available RAM options"))
        } else {
          $ram.append($("<option>").attr("value", "").text("Choose RAM option"))
          $.each(cpuTypes[selectedCpuTypeId].ramMB, function(i, ramMB) {
            var option = $("<option>").attr("value", ramMB).text("" + ramMB + " MB");
            if (parseInt(ramMB) < minRamMB) {
              option.attr("disabled", "disabled")
            } else if (lastSelectedRam === ramMB) {
              option.attr("selected", "selected");
            }
            $ram.append(option)
          })
        }
      }
      var updateCpuTypeUi = function() {
        updateCpuCoresUi();
        updateRamUi();
      }
      var updateNetPacksUi = function() {
        var $netpack = $("#netpack");
        var lastSelectedNetPack = $netpack.val();
        $netpack.empty()
        var datacenterId = $("#datacenter").val();
        var billing = $("#billing").val();
        if (!datacenterId) {
          $netpack.append($("<option>").attr("value", "").text("Choose a datacenter to see available network traffic packages"))
        } else if (!billing) {
          $netpack.append($("<option>").attr("value", "").text("Choose a billing option to see available network traffic packages"))
        } else if (billing !== "monthly") {
          $netpack.append($("<option>").attr("value", "").text("Network traffic packages are only relevant for monthly billing option"))
        } else {
          $netpack.append($("<option>").attr("value", "").text("Choose a network traffic package"))
          $.each(datacenters[datacenterId].netpacks, function(netpackId, netpackDescription) {
            var option = $("<option>").attr("value", netpackId).text(netpackDescription);
            if (lastSelectedNetPack === netpackId) {
              option.attr("selected", "selected");
            }
            $netpack.append(option)
          })
        }
      }
      var updateBillingUi = function() {
        updateNetPacksUi()
      }
      var addAdditionalDisk = function() {
        $diskscontainer = $("#diskscontainer");
        var numDisks = $diskscontainer.children().length;
        if (numDisks < 4) {
          var nextDiskNum = numDisks + 1
          var additionalDisk = $("<select>").attr("aria-label", "Disk " + nextDiskNum).attr("id", "disk" + nextDiskNum).addClass("form-select");
          additionalDisk.append($("<option>").attr("value", "").text("Choose additional disk size or keep this option to not add additional disk"));
          $.each(diskSizesGB, function(i, diskSizeGB) {
            additionalDisk.append($("<option>").attr("value", diskSizeGB).text(diskSizeGB + " GB"));
          })
          $diskscontainer.append(additionalDisk)
          if (nextDiskNum === 4) {
            $("#additionaldisk").hide();
          }
          updateDisksUi();
        }
      }
      var updateDisksUi = function() {
        var $diskscontainer = $("#diskscontainer");
        var selectedImageId = $("#image").val();
        var imageSizeGB = selectedImageId ? images[selectedImageId].imageSizeGB : 0;
        var $disk = $($diskscontainer.children()[0]);
        var selectedDiskSizeGB = $disk.val();
        if (selectedDiskSizeGB !== "" && parseInt(selectedDiskSizeGB) < imageSizeGB) {
          $disk.val("")
        }
        $.each($disk.children(), function(i, option) {
          if (option.value !== "") {
            if (parseInt(option.value) < imageSizeGB) {
              $(option).attr("disabled", "disabled")
            } else {
              $(option).removeAttr("disabled")
            }
          }
        })
      }
      var onImageChange = function() {
        updateRamUi()
        updateDisksUi()
      }
      var allStorageIds = [
        "datacenter", "imagecategory", "image", "cputype", "cpucores", "ram", "disk1",
        "disk2", "disk3", "disk4", "billing", "netpack", "configformat"
      ]
      var getDefaultConfig = function(c) {
        var res = [
          "datacenter=" + c.datacenter,
          "image=" + c.datacenter + ":" + c.imageId,
          "cpu=" + c.cpuCores + c.cpuType,
          "ramMB=" + c.ram,
          "diskSizesGB=" + c.diskSizes.join(","),
          "billing=" + c.billing,
        ];
        if (c.billing === "monthly") {
          res.push("trafficPackage=" + c.netpack)
        }
        return res;
      }
      var getCloudcliConfig = function(c) {
        var disks = [];
        $.each(c.diskSizes, function(i, diskSize) {
          disks.push("--disk size=" + diskSize);
        })
        var res = [
          "cloudcli server create --name SERVER_NAME",
          "--datacenter", c.datacenter,
          "--image", c.datacenter + ":" + c.imageId,
          "--cpu", c.cpuCores + c.cpuType,
          "--ram", c.ram,
          disks.join(" "),
          "--billingcycle", c.billing,
        ];
        if (c.billing === "monthly") {
          res.push("--monthlypackage", c.netpack)
        }
        return [res.join(" ")];
      }
      var getTerraformConfig = function(c) {
        return [
          "terraform {\n" +
          "  required_providers {\n" +
          "    kamatera = {\n" +
          "      source = \"Kamatera/kamatera\"\n" +
          "    }\n" +
          "  }\n" +
          "}\n" +
          "\n" +
          "provider \"kamatera\" {\n" +
          "}\n" +
          "\n" +
          "resource \"kamatera_server\" \"my_server\" {\n" +
          "  name = \"my_server\"\n" +
          "  datacenter_id = \"" + c.datacenter + "\"\n" +
          "  cpu_type = \"" + c.cpuType + "\"\n" +
          "  cpu_cores = " + c.cpuCores + "\n" +
          "  ram_mb = " + c.ram + "\n" +
          "  disk_sizes_gb = [" + c.diskSizes.join(",") + "]\n" +
          "  billing_cycle = \"" + c.billing + "\"\n" +
          "  image_id = \"" + c.imageId + "\"\n" +
          (c.billing === "monthly" ? "  monthly_traffic_package = \"" + c.netpack + "\"\n" : "") +
          "}"
        ];
      }
      var getPackerConfig = function(c) {
        return [
          "packer {\n" +
          "  required_plugins {\n" +
          "    kamatera = {\n" +
          "      version = \">= 0.5.0\"\n" +
          "      source  = \"github.com/kamatera/kamatera\"\n" +
          "    }\n" +
          "  }\n" +
          "}\n" +
          "\n" +
          "source \"kamatera\" \"my_source\" {\n" +
          "  datacenter = \"" + c.datacenter + "\"\n" +
          "  ssh_username = \"root\"\n" +
          "  cpu = \"" + c.cpuCores + c.cpuType + "\"\n" +
          "  ram = \"" + c.ram + "\"\n" +
          "  image = \"" + c.imageId + "\"\n" +
          "  disk = \"" + c.diskSizes[0] + "\"\n" +
          "}\n" +
          "\n" +
          "build {\n" +
          "  sources = [\n" +
          "    \"source.kamatera.my_source\"\n" +
          "  ]\n" +
          "}"
        ];
      }
      var updateConfiguration = function() {
        $configuration = $("#configuration")
        var datacenter = $("#datacenter").val();
        if (!datacenter) {$configuration.val("Please select a datacenter"); return}
        var imageId = $("#image").val();
        if (!imageId) {$configuration.val("Please select an image"); return}
        var cpuType = $("#cputype").val();
        if (!cpuType) {$configuration.val("Please select a CPU type"); return}
        var cpuCores = $("#cpucores").val();
        if (!cpuCores) {$configuration.val("Please select CPU cores"); return}
        var gotFirstDiskSize = false;
        var diskSizes = [];
        $("#diskscontainer").children().each(function() {
          var $this = $(this);
          var diskSize = $(this).val();
          if (diskSize) {
            if ($this.attr("id") === "disk1") gotFirstDiskSize = true;
            diskSizes.push(diskSize);
          }
        })
        if (!gotFirstDiskSize) {$configuration.val("Please select the primary disk size"); return}
        var ram = $("#ram").val();
        if (!ram) {$configuration.val("Please select RAM option"); return}
        var billing = $("#billing").val();
        if (!billing) {$configuration.val("Please select a billing option"); return}
        var netpack = $("#netpack").val();
        if (billing === "monthly" && !netpack) {$configuration.val("Please select a network traffic package"); return}
        var configdata = {
          datacenter, imageId, cpuType, cpuCores, diskSizes, ram, billing, netpack
        }
        var configformat = $("#configformat").val();
        if (configformat === "cloudcli") {
          $configuration.val(getCloudcliConfig(configdata).join("\n"));
        } else if (configformat === "terraform") {
          $configuration.val(getTerraformConfig(configdata).join("\n"));
        } else if (configformat === "packer") {
          $configuration.val(getPackerConfig(configdata).join("\n"));
        } else {
          $configuration.val(getDefaultConfig(configdata).join("\n"));
        }
      }
      var pauseStorage = true;
      var onAnyChange = function() {
        if (!pauseStorage) {
          $.each(allStorageIds, function(i, key) {
            window.localStorage.setItem(key, $("#" + key).val() || "");
          })
        }
        updateConfiguration()
      }
      var setFromLocalstorage = function() {
        if (window.localStorage.getItem("datacenter")) $("#" + "datacenter").val(window.localStorage.getItem("datacenter") || "");
        if (window.localStorage.getItem("imagecategory")) $("#" + "imagecategory").val(window.localStorage.getItem("imagecategory") || "");
        if (window.localStorage.getItem("billing")) $("#" + "billing").val(window.localStorage.getItem("billing") || "");
        updateDatacenterUi()
        if (window.localStorage.getItem("image")) $("#" + "image").val(window.localStorage.getItem("image") || "");
        if (window.localStorage.getItem("cputype")) $("#" + "cputype").val(window.localStorage.getItem("cputype") || "");
        updateCpuTypeUi()
        if (window.localStorage.getItem("cpucores")) $("#" + "cpucores").val(window.localStorage.getItem("cpucores") || "");
        if (window.localStorage.getItem("ram")) $("#" + "ram").val(window.localStorage.getItem("ram") || "");
        if (window.localStorage.getItem("disk1")) $("#" + "disk1").val(window.localStorage.getItem("disk1") || "");
        updateDisksUi()
        if (window.localStorage.getItem("netpack")) $("#" + "netpack").val(window.localStorage.getItem("netpack") || "");
        if (window.localStorage.getItem("configformat")) $("#" + "configformat").val(window.localStorage.getItem("configformat") || "");
      }
      var initUi = function() {
        $.each(datacenters, function(datacenterId, datacenter) {
          $("#datacenter").append($("<option>").attr("value", datacenterId).text(datacenter.name));
        })
        $("#datacenter").change(updateDatacenterUi);
        $.each(imageCategories, function(imageCategory) {
          $("#imagecategory").append($("<option>").attr("value", imageCategory).text(imageCategory));
        })
        $("#imagecategory").change(updateImagesUi)
        $.each(cpuTypes, function(cpuTypeId, cpuType) {
            $("#cputype").append($("<option>").attr("value", cpuTypeId).text(cpuType.name));
        })
        $("#cputype").change(updateCpuTypeUi)
        $("#billing").change(updateBillingUi)
        $.each(diskSizesGB, function(i, diskSizeGB) {
          $("#disk1").append($("<option>").attr("value", diskSizeGB).text("" + diskSizeGB + " GB"));
        })
        $("#image").change(onImageChange);
        $("select").change(onAnyChange);
        $("#additionaldisk a").click(addAdditionalDisk);
        setFromLocalstorage()
        pauseStorage = false;
        onAnyChange();
        $("#mainloader").hide();
        $("form").removeClass("invisible")
      }
      $.ajax({
        url: "{{ calculator_js_php_url }}",
        type: "GET",
        dataType: "text",
        success: function(data) {
          initData($.parseJSON("{" + data.split("'{")[1].split("}'")[0] + "}"));
          initUi();
        }
      });
    })
  </script>
{% endblock %}
{% block body %}
  <h1>Kamatera Toolbox Server Configuration Generator</h1>
  <p>Use this tool to generate server configurations for Kamatera drivers and tools.</p>
  <div class="spinner-border" role="status" id="mainloader">
    <span class="visually-hidden">Loading...</span>
  </div>
  <form class="invisible">
    <div class="mb-3">
      <label for="datacenter" class="form-label">Datacenter</label>
      <select class="form-select" aria-label="Datacenter" id="datacenter">
        <option value="" selected>Choose a datacenter</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="imagecategory" class="form-label">Image Category</label>
      <select class="form-select" aria-label="Image Category" id="imagecategory">
        <option value="" selected>Choose an image category</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <select class="form-select" aria-label="Image" id="image">
        <option value="" selected>Choose an image category to see available images</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="cputype" class="form-label">CPU Type</label>
      <select class="form-select" aria-label="CPU Type" id="cputype">
        <option value="" selected>Choose a CPU type</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="cpucores" class="form-label">CPU Cores</label>
      <select class="form-select" aria-label="CPU Cores" id="cpucores">
        <option value="" selected>Choose a CPU type to see available CPU cores</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="ram" class="form-label">RAM</label>
      <select class="form-select" aria-label="RAM" id="ram">
        <option value="" selected>Choose a CPU type to see available RAM options</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Disks</label>
      <div id="diskscontainer">
        <select class="form-select" aria-label="Primary Disk" id="disk1">
          <option value="" selected>Choose primary disk size</option>
        </select>
      </div>
      <div class="form-text" id="additionaldisk"><a href="javascript:">Add an additional disk</a></div>
    </div>
    <div class="mb-3">
      <label for="billing" class="form-label">Billing</label>
      <select class="form-select" aria-label="Billing" id="billing">
        <option value="" selected>Choose a billing option</option>
        <option value="hourly">Hourly</option>
        <option value="monthly">Monthly</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="netpack" class="form-label">Network Traffic Package</label>
      <select class="form-select" aria-label="Network Traffic Package" id="netpack">
        <option value="" selected>Choose a datacenter to see available network traffic packages</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="configformat" class="form-label">Configuration Format</label>
      <select class="form-select" aria-label="Configuration Format" id="configformat">
        <option value="" selected>Choose an output configuration format or keep this option to just show the selected identifiers</option>
        <option value="cloudcli">Cloudcli</option>
        <option value="terraform">Terraform</option>
        <option value="packer">Packer</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="configuration" class="form-label">Configuration</label>
      <textarea class="form-control" id="configuration" rows="15"></textarea>
    </div>
  </form>
{% endblock %}