on:
  push:
    branches:
      - add-cluster-autoscaler-tests
      - master
    paths:
      - .github/workflows/cluster_autoscaler_tests.yaml
      - tests/cluster_autoscaler/**

jobs:
  cluster-autoscaler-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s_version:
          - "1.32"
          - "1.33"
          - "1.34"
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - uses: hashicorp/setup-terraform@v3
      - run: |
          wget https://cloudcli.cloudwm.com/binaries/latest/cloudcli-linux-amd64.tar.gz
          tar -xvf cloudcli-linux-amd64.tar.gz
          chmod +x cloudcli
          sudo mv cloudcli /usr/local/bin/cloudcli
      - run: |
          ssh-keygen -t rsa -b 4096 -N "" -f ~/.ssh/id_rsa
      - env:
          K8S_VERSION: ${{ matrix.k8s_version }}
          KAMATERA_API_CLIENT_ID: ${{ secrets.KAMATERA_API_CLIENT_ID }}
          KAMATERA_API_SECRET: ${{ secrets.KAMATERA_API_SECRET }}
          KTBCA_RUN_AUTOSCALER_TESTS: "yes"
        run: |
          uv sync
          uv run pytest -svvx tests/cluster_autoscaler
